body {
    background-color: #000000;
    text-align: center;
    columns: #fff;
    padding-top: 10em;
}
.whoami {
    display: inline-block;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    color: red;
}
.wrap {
    display: inline-block;
    font-family: "Courier Prime", monospace;
}
.folder {
    display: inline-block;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    color: blue;
}
.myspecialtext {
    font-family: "Courier Prime", monospace;
}
.userinfo{
	font-family: "Courier Prime", monospace;
}
.folder{
        font-family: "Courier Prime", monospace;
}
pre {
    display: inline-block;
}
.ascii {
    font-size: 15px;
}
.shell {
    font-size: 17px;
    font-family: "Courier Prime", monospace;
}
* {
    color: #fff;
    text-decoration: none;
}
a{
    padding-left: 10px;
    padding-right: 10px;
}
@media screen and (max-width: 768px) {
    .ascii {
        font-size: 11px;
    }

    .shell {
        font-size: 14px;
    }
}
